.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .slides {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    display: flex;
    align-items: center;
  }

  img {
    max-width: 100%; 
  }
  
  .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: #333;
  }
  