<div id="inicio"  class="section p-5 ">
  <section class="section is-large has-text-centered has-text-white" style="background-image: url('https://images.unsplash.com/photo-1558438102-fdf49b784324?q=80&w=1373&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" id="productos">
    <h1 class="title is-1 has-text-white">Agua Mineral Natural de la Cordillera Occidental en el Pacífico</h1>
    <h2 class="subtitle has-text-white is-4">
      "Transforma tu sed en vitalidad, ¡Siente la frescura en cada instante!"
    </h2>
  
    <button class="button is-primary" (click)="smoothScroll('contacto')">Solicitar Producto</button>
  </section>
  
  <div id="nosotros" class="section">
  <section class="hero is-primary has-text-centered has-background-white  ">
    <div class="hero-body">
      <p class="title is-2 has-text-black">
        Sobre Nosotros
      </p>
    </div>
  </section>

  <div class="tile is-ancestor pt-5 has-text-centered">
    <div class="tile is-parent">
      <div class="tile is-child">
        <figure class="image is-16by9">
          <img
            src="https://images.unsplash.com/photo-1630770175431-97430a3bd6e3?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Descripción de la imagen">
        </figure>
      </div>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Abua</p>
        <p class="subtitle">abua, el tesoro líquido de Colombia, nace en las profundidades de la majestuosa cordillera
          occidental bañanda por la riquesa de la brisa del Pacífico colombiano. La cual le da pura y cristalina de
          nuestras aguas se forja mediante la filtración armoniosa entre las rocas montañosas, otorgándole una
          singularidad incomparable y una calidad excepcional.Cautiva tus sentidos con la frescura inigualable de abua,
          donde cada gota es un testamento de la pureza natural que fluye desde las alturas. Descubre el sabor auténtico
          de la montaña en cada sorbo, una experiencia que va más allá de la simple hidratación. ¡abua, el elixir de la
          naturaleza que nutre tu cuerpo y eleva tu espíritu!
        </p>
      </article>
    </div>
  </div>
</div>
  <app-slider></app-slider>

  <hr class="has-background-primary" >

  <section class="section benefits-section" style="background-image: url('https://images.unsplash.com/photo-1556648011-e01aca870a81?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <h2 class="title is-2 has-text-centered has-text-black">Beneficios del Agua Mineral</h2>
          <p class="subtitle is-5 has-text-centered has-text-black mx-5">
            Además de ser una fuente natural de hidratación, el agua mineral contiene minerales esenciales como el
            calcio, magnesio y potasio, que son fundamentales para el buen funcionamiento de nuestro organismo.
          </p>

          <div class="columns is-multiline has-text-centered">
            <div class="column is-half">
              <div class="box mx-5">
                <h3 class="title is-4">Fortalece Huesos y Dientes</h3>
                <p>Los minerales presentes en el agua mineral contribuyen al fortalecimiento de los huesos y los dientes.</p>
                <p>Mejora la hidratación de la piel y el cuerpo.</p>
              </div>
            </div>
            
            <div class="column is-half">
              <div class="box mx-5">
                <h3 class="title is-4">Mejora la Digestión</h3>
                <p>El agua mineral puede ayudar a mejorar la digestión y promover un sistema digestivo saludable.</p>
                <p>Ayuda a la digestión de los alimentos.</p>
              </div>
            </div>
            
            <div class="column is-half">
              <div class="box mx-5">
                <h3 class="title is-4">Regula la Presión Arterial</h3>
                <p>Los minerales esenciales en el agua mineral pueden contribuir a regular la presión arterial.</p>
                <p>Disminuye el riesgo de sufrir enfermedades del corazón.</p>
              </div>
            </div>
            
            <div class="column is-half">
              <div class="box mx-5">
                <h3 class="title is-4">Funcionamiento del Metabolismo</h3>
                <p>Contribuye al buen funcionamiento del metabolismo.</p>
              </div>
            </div>
            
            <div class="column is-half">
              <div class="box mx-5">
                <h3 class="title is-4">Antioxidantes y Prevención del Envejecimiento</h3>
                <p>Rica en antioxidantes que previenen el envejecimiento.</p>
              </div>
            </div>
            
            <div class="column is-half">
              <div class="box mx-5">
                <h3 class="title is-4">Aumento de Energía</h3>
                <p>Incrementa niveles de oxígeno en el torrente sanguíneo, aumentando la energía.</p>
              </div>
            </div>
            
            <div class="column is-half">
              <div class="box mx-5">
                <h3 class="title is-4">Desintoxicación del Organismo</h3>
                <p>Adecuada desintoxicación del organismo.</p>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="has-background-primary">

  <!-- home.component.html -->
  <section class="section story-section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <h2 class="title is-2 has-text-centered">Historia de abua</h2>
          <p class="subtitle is-5 has-text-centered">
            Descubre cómo abua se convirtió en la elección preferida para una hidratación superior.
          </p>

          <div class="content">
            <p>
              abua es más que agua mineral; es el resultado de una historia que se origina en la majestuosa Cordillera
              Occidental en el Pacífico colombiano. En este entorno natural único, nace nuestra fuente de agua,
              alimentada por manantiales puros y rodeada de una biodiversidad que enriquece su composición.
            </p>
            <p>
              Lo que hace a abua verdaderamente especial es la incorporación de algas marinas en su proceso de
              filtración. Este toque único no solo le brinda un sabor fresco y distinto, sino que también agrega
              minerales esenciales a nuestra agua, creando una experiencia de hidratación única y beneficiosa.
            </p>
            <p>
              Nuestra historia es la búsqueda constante de la excelencia, desde la selección de la fuente hasta el
              momento en que cada botella llega a tus manos. Estamos comprometidos con la pureza, la frescura y la
              salud, y creemos que abua no es solo agua, sino una elección consciente para tu bienestar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="has-background-primary">

  <!-- home.component.html -->
  <section class="section explore-section"
    style="background-image: url('https://images.unsplash.com/photo-1470293728846-df1a5aa55d1a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <h2 class="title is-2 has-text-centered has-text-white">Nuestra Pasión y Compromiso</h2>
          <p class="subtitle is-5 has-text-centered has-text-white">
            Descubre el corazón de abua y cómo nos esforzamos por brindar una experiencia de hidratación excepcional.
          </p>

          <div class="columns has-text-centered  ">
            <div class="column">
              <div class="box ">
                <h3 class="title is-4">Compromiso con la Calidad</h3>
                <p>
                  Cada gota de abua representa nuestro compromiso con la excelencia. Nos esforzamos por cuidar cada
                  aspecto, desde la selección de la fuente hasta el embotellado final.
                </p>
              </div>
            </div>
            <div class="column">
              <div class="box">
                <h3 class="title is-4">Sabor Único y Refrescante</h3>
                <p>
                  La incorporación de algas marinas no solo brinda un sabor fresco y único, sino que también resalta
                  nuestro compromiso con la innovación para ofrecer una experiencia de hidratación refrescante.
                </p>
              </div>
            </div>
            <div class="column">
              <div class="box">
                <h3 class="title is-4">Comprometidos con tu Bienestar</h3>
                <p>
                  En abua, no solo vendemos agua estamos comprometidos con la salud y el bienestar de nuestros
                  consumidores. Creemos que cada botella es una contribución a tu vitalidad y felicidad.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- home.component.html -->
  <section class="section quality-section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <h2 class="title is-2 has-text-centered">Compromiso con la Calidad</h2>
          <p class="subtitle is-5 has-text-centered">
            Descubre cómo abua garantiza pureza y frescura en cada gota.
          </p>

          <div class="columns">
            <div class="column is-half">
              <div class="box">
                <figure class="image is-4by3">
                  <img src="ruta-imagen-filtrado.jpg" alt="Proceso de Filtrado">
                </figure>
                <h3 class="title is-4">Filtrado Riguroso</h3>
                <p>
                  En abua, nos comprometemos a mantener los más altos estándares de calidad. Nuestro proceso de filtrado
                  riguroso garantiza la eliminación de impurezas, brindando una base pura para nuestra agua mineral.
                </p>
              </div>
            </div>
            <div class="column is-half">
              <div class="box">
                <figure class="image is-4by3">
                  <img src="ruta-imagen-purificacion.jpg" alt="Proceso de Purificación">
                </figure>
                <h3 class="title is-4">Purificación Cuidadosa</h3>
                <p>
                  La purificación cuidadosa es clave en nuestro compromiso con la calidad. Utilizamos tecnologías
                  avanzadas para garantizar que cada gota de abua sea fresca, limpia y llena de beneficios para tu
                  salud.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- home.component.html -->
  <section class="section markets-section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <section class="hero is-success">
            <div class="hero-body">
              <p class="title is-2 has-text-centered ">
                Mercados Objetivos - Enfoque en el Quindío
              </p>
              <p class="subtitle is-5 has-text-centered">
                Descubre cómo abua se convierte en parte integral de la vida en el Quindío.
              </p>
            </div>
          </section>

          <div class="content">
            <p>
              En abua, nuestro enfoque en el Quindío va más allá de ser solo una marca de agua. Somos una parte activa
              de esta hermosa región, comprometidos con satisfacer las necesidades locales de hidratación y contribuir
              al bienestar de la comunidad.
            </p>
            <p>
              Nos enorgullece ser la elección preferida en los restaurantes más destacados, donde cada comida se
              complementa con la frescura y pureza de abua. Además, estamos presentes en los hoteles más renombrados,
              ofreciendo a los visitantes una experiencia de hidratación excepcional durante su estadía en el Quindío.
            </p>
            <p>
              Abua también se hace presente en eventos locales, respaldando programas públicos y privados que celebran
              la riqueza cultural y la vitalidad de la región. Estamos comprometidos con el Quindío, y nuestro objetivo
              es ser parte integral de la mesa de cada hogar y de cada evento significativo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <app-contact></app-contact>

</div>