<div id="contacto" class="section">
<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <!-- Imagen a la izquierda -->
        <div class="column is-4 has-text-centered">
          <img src="https://images.unsplash.com/photo-1623980051061-fce02122f7fe?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen Izquierda" class="left-image">
        </div>
  
        <!-- Botones y texto en el centro -->
        <div class="column is-4 has-text-centered">
          <h2 class="title is-2">Contáctanos</h2>
          <p class="subtitle is-5">¡Conéctate con nosotros en las redes sociales!</p>
  
          <div class="social-buttons">
            <a href="https://www.facebook.com/tu-pagina-de-facebook" target="_blank" class="button is-info is-large">
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
              <span>Facebook</span>
            </a>
  
            <a href="https://twitter.com/tu-twitter" target="_blank" class="button is-info is-large">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>Twitter</span>
            </a>
                
            <a href="https://www.instagram.com/tu-instagram" target="_blank" class="button is-info is-large">
              <span class="icon">
                <i class="fab fa-instagram"></i>
              </span>
              <span>Instagram</span>
            </a>
            <!-- Agrega más botones según sea necesario -->
          </div>
        </div>
  
        <!-- Imagen a la derecha -->
        <div class="column is-4 has-text-centered">
          <img src="https://images.unsplash.com/photo-1621234383767-c61c4a43b9ce?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen Derecha" class="right-image">
        </div>
      </div>
    </div>
  </section>
</div>  

  
