
<footer class="footer has-background-grey-light is-little p-5">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <p class="has-text-centered has-text-weight-bold">Explora</p>
          <ul class="footer-links has-text-centered">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#nosotros">Sobre Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </div>
  
        <div class="column is-one-third">
          <p class="has-text-centered has-text-weight-bold">Síguenos</p>
          <div class="social-media has-text-centered">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
          </div>
        </div>
  
        <div class="column is-one-third">
          <p class="has-text-centered has-text-weight-bold">Información Legal</p>
          <ul class="footer-links has-text-centered">
            <li><a href="#">Términos de Servicio</a></li>
            <li><a href="#">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="has-text-centered">
        <hr class="">
        <p>
          <strong>Tu agua de manantial</strong> &copy; 2023. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </footer>
  
  
  
