<nav class="navbar is-fixed-top has-background-primary-light" role="navigation" aria-label="main navigation">   
    <div class="nav-coman ">
      <a class="navbar-item" (click)="smoothScroll('inicio')">
        Inicio
      </a>

      <a class="navbar-item" (click)="smoothScroll('productos')">
        Productos
      </a>

      <a class="navbar-item" (click)="smoothScroll('nosotros')">
        Sobre Nosotros
      </a>

      <a class="navbar-item" (click)="smoothScroll('contacto')">
        Contacto
      </a>
    </div>
</nav>

